Native/build
Unikraft/ssl_uk_bin/build
Unikraft/oqs_uk_speed/build
Unikraft/ssl_uk_test/build

# Generic build artifacts (avoid accidentally committing binaries)
**/build/
**/*.o
**/*.a
**/*.so
**/*.dylib
**/*.tar
**/*.tar.gz
**/*.zip

**/.DS_Store
**.old

Native/local
Native/src
Native/openssl
Native/oqs_speed/benchmark

Container/openssl
Container/sh

Unikraft/openssl
Unikraft/test
Unikraft/benchmark

pki/

.vscode
**/test

Native/benchmark 
Container/benchmark
Unikraft/benchmark

Container/alpine_bench.tar

Report/*.log
Report/*.aux
Report/*.bcf
Report/*.out
Report/*.toc
Report/*.run.xml
Report/*.fls
Report/*.bbl
Report/*.blg


